fastapi==0.115.0
uvicorn[standard]==0.30.6

jinja2==3.1.4
python-multipart==0.0.9

SQLAlchemy==2.0.35
psycopg2-binary==2.9.9   # 🔑 для PostgreSQL
pydantic==2.9.2
python-dotenv==1.0.1

reportlab==4.2.2
openpyxl==3.1.5
pillow==11.3.0
requests==2.32.5
passlib==1.7.4
bcrypt==4.3.0
PyYAML==6.0.2
itsdangerous==2.2.0 M